.div {
    display: flex;
    flex-direction: column;
    
    span:first-child { 
      text-transform: uppercase;
      line-height: 2rem;
    }

    span:last-child { 
      text-transform: uppercase;
      margin-top: 1rem;
    }
}