.header
	padding-top: 50px
	padding-bottom: 20px
	height: 8rem
	background-color: #FFF
	@media screen and ( max-width: 1366px )
		padding-top: 25px
		padding-bottom: 25px

.logo
	font-size: 1.56em
	@media screen and ( max-width: 767px )
		margin: auto

.list
	display: flex
	list-style: none
	margin: 0
	padding: 0
	justify-content: flex-end
	align-items: center
	li
		font-weight: 600
		& + li
			padding-left: 30px
	@media screen and ( max-width: 767px )
		display: none


.divImage 
	display: flex
	align-Items: flex-start
	top: 0
	margin-top: -2rem

.image
	width: 10rem
	display: flex
	align-Items: flex-start
	color: #FFF

.title
	display: flex
	justify-content: center
	align-items: center
	margin-right: 22rem
	font-size: 1.25em