.blogContainer
	background-color: #e4fdf9
	border-bottom: 0.003rem solid #000
.linkContainer
	margin-top: 125px
	@media screen and ( max-width: 767px )
		margin-top: 70px

.image3
	margin-left: -1rem
	margin-top: 1.8rem
	transform: rotate(-5deg)

.image2
	margin-left: -2rem

.image1 
	transform: rotate(-4deg)

.image
	margin-top: 30px
	z-index: 9999;

.image4
	margin-left: 0rem
	z-index: 9999

.image5
	transform: rotate(10deg)
	margin-top: 5rem
	margin-left: -2.5rem

.image6 
	margin-left: -5rem
	

.image7
	margin-top: 14rem
	margin-right: 2rem
	margin-left: -25rem


.title
	margin-top: 15rem
	margin-left: 3rem
	font-size: 1.5rem